/* réserver de la place à droite */
.site-header {
  padding-right: 190px;
}

/* bouton login accroché au header */
.page-login-btn {
  position: fixed;
  top: 50px;                  /* header = 100px */
  right: 30px;
  transform: translateY(-50%);
  z-index: 1001;
  white-space: nowrap;
}

/* style bouton login */
.nav-link--login {
  background-color: #b7cdfc;
}
.nav-link--login:hover {
  background-color: #a9c4ff;
}
